

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    width: 90%;
    margin: 5%;
  }
  
  .IMG {
      height: 425px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    height: 625px;
    margin-bottom: 10%;
    text-align: center;
  }

  .vansSlider {
    height: 400px;
    width: 100%;
  }  


.column2 {
    display: inline-block;
}


.jensImg {
    height: 700px;
    width: 550px;
    margin-left: 10%;
    margin-top: 2%;
}

#firstText {
    background-color: white;
    width: 350px;
    padding: 2%;
    position: absolute;
    bottom: 250px;
    left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: right;
}

.jensSurf {
    height: 700px;
    width: 600px;
    float: right;
    margin-top: 1%;
    margin-right: 5%;
}

.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    clear: both;
    position: relative;    
    bottom: 0;
    left: 0;
    width: 100%;
  }

  #copyright {
    text-align: center;
  }

  .icons {
    margin: 2%;
    font-size: 40px;
  }

  table {
    width: 100%;
  }

  .footerEle {
    margin: 2%;
  }

  .surf1 {
    height: 500px;
    width: 600px;
    margin: 2%;
  }

  .username {
    color: white;
    margin-right: 2%;
  }

  .slick-dots {
    height: 80px;
  }

  .slick-next {
    right: 25px; 
  }
