

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    width: 90%;
    margin: 5%;
  }
  
  .IMG {
      height: 425px;
  }

  .img-container-welcomepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 4rem;
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
  }

  .img-welcomepage {
    height: 700px;
    width: 100%;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    height: 95%;
    margin-bottom: 10%;
    text-align: center;
    
  }

  .vansSlider {
    height: 400px;
    width: 100%;
  }  

  #firstText {
      width: 300px;
      height: 375px;
      background-color: white;
      padding: 1.5%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% );
    }

    .welcomeText {
      font-size: 1rem;
    }


.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    clear: both;
    position: relative;    
    bottom: 0;
    left: 0;
    width: 100%;
  }

  #copyright {
    text-align: center;
  }

  .icons {
    margin: 2%;
    font-size: 40px;
  }

  table {
    width: 100%;
  }

  .footerEle {
    margin: 2%;
  }

  .surf1 {
    height: 500px;
    width: 600px;
    margin: 2%;
  }

  .username {
    color: white;
    margin-right: 2%;
  }

  .slick-dots {
    height: 80px;
  }

  .slick-next {
    right: 25px; 
  }

  @media (max-width: 575.98px) {
    .img-welcomepage {
      height: 400px;
    }
    #container {
      grid-template-columns: repeat(1, 1fr);
    }
    .card {
      height: 95%;
      width: 60%;
      margin-left: 20%;
    }
    .vansSlider {
      height: 250px;
    }
    #firstText {
      width: 200px;
      height: 300px;
    }
    .img-container-welcomepage {
      grid-gap: 0.5rem;
    }
  }

  @media (max-width: 991.98px) {
    .img-welcomepage {
      height: 550px;
    }
    #container {
      grid-template-columns: repeat(1, 1fr);
    }
    .card {
      height: 95%;
      width: 50%;
      margin-left: 25%;
    }
    .img-container-welcomepage {
      grid-gap: 1rem;
    }
    #firstText {
      width: 275px;
      height: 325px;
    }
    .vansSlider {
      height: 250px;
    }
  }

