
.isvan {
    height: 600px;
    width: 400px;
    margin-left: 12%;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}

#firstText2 {
    background-color: white;
    width: 375px;
    padding: 2%;
    position: absolute;
    bottom: 300px;
    left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: right;
    border-radius: 15px;
}

.isvan2 {
    height: 600px;
    width: 500px;
    float: right;
    margin-top: 9%;
    margin-right: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}