#form-group {
    float: right;
    width: 50%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.IMG3 {
    height: 600px;
    float: left;
    margin-top: 10%;
    margin-left: 7%;
    border-radius: 25px;
}

.submitbtn {
    text-align: center;
}

.formControl {
    border-radius: 25px;
}

.calender {
    text-align: center;
}

.navigateUploadProduct {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.uploadTitle {
    margin-bottom: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }


  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }